form{
  width: 30%;
  margin: auto;
  border:2px solid black;
  padding:4rem;
  background-color: lavender;
}
input{
  width: 80%;
  height: 2rem;
  margin-left: 12px;
  
}
button{
  background-color:#f12d2d;
  color:white;
  width:30%;
  height: 2rem;
 
  text-align: center;
}
@media screen and (max-width:780px) {
  form{
    width: auto;
    
  }
  button{
    width: 50%;
  }
}
/* .upload{
  background-color:white;
  color:black;
  width:30%;
  height: 2rem;
  text-align: center;
} */